.mobile-menu {
  position: fixed;

  overflow: auto;

  z-index: 2;

  background-color: $bgClr200;

  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;

  padding: 10px 15px;

  border-bottom: 1px solid $fontClr200;
  &__hamburger {
    background: transparent;
    display: flex;
    align-items: center;
    margin-left: auto;
    border: none;
    border-radius: 4px;
  }
  .hamburger {
    fill: $fontClr100;
  }
}

.line {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;

  transform-origin: center;
}

.mobile-menu__container.is-open {
  transform: translateY(0);
}

.mobile-menu__container {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-100%);

  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;

  background-color: $bgClr200;
  inset: 0;
  height: 100vh;

  padding: 105px 15px 60px;

  font-weight: $fwSemiBold;
}

.mobile-menu__navigation {
  display: flex;
  flex-direction: column;
  font-size: calc(10vmin + 1vmax);
  gap: calc(5vmax - 10px);
}

.mobile-menu__contact-flex {
  display: flex;
  flex-direction: column;
  gap: calc(5vmax - 10px);
  margin-top: auto;
}
.mobile-menu__phone {
  color: $brandColor;
  font-size: calc(8vmin + 1vmax);
}
.mobile-menu__mail {
  color: $fontClr200;
  font-size: calc(5vmin + 1vmax);
}

.mobile-menu__socials-flex {
  color: $brandColor;
  display: flex;
  gap: calc(4vw - 10px);

  margin-top: calc(10vh - 20px);
  font-size: calc(3vmin + 1vmax);
}

.mobile-menu__logo--accent {
  color: $fontClr500;
}
// landscape view of mobile menu on iPhone SE and Samsun S8+

@media screen and (max-height: 375px) {
  .mobile-menu__container {
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1vmax;
  }
  .mobile-menu__contact-flex {
    margin: 0;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .mobile-menu,
  .mobile-menu__container {
    display: none;
  }
}
