// .section:has(.aoe) {
//   display: none;
// }
.section-aoe,
.aoe {
  display: none;
}

@media (min-width: 1200px) {
  // .section:has(.aoe) {
  //   display: block;
  // }
  .section-aoe,
  .aoe {
    display: block;
  }
  .aoe {
    display: block;
    &__heading {
      @include sectionHeading($fsSectionHeading);
    }

    &__list {
      display: flex;
      flex-wrap: wrap;

      gap: 30px;
      justify-content: center;
    }

    &__item {
      position: relative;
      // overflow: hidden;
    }

    &__label {
      position: absolute;
      bottom: 0;
      width: 100%;

      text-align: center;
      padding: 27px 0;

      background-color: $accentClr100;
      color: $fontClr300;

      @include itemHeading($fontClr300);
    }
  }
}
