.advantages {
  &__heading {
    @include itemHeading($fontClr100);
    margin-bottom: 10px;
    text-align: center;
  }

  &__text {
    color: $fontClr200;
    font-size: $fsItemText;
    line-height: 1.71;
  }

  &__icon {
    background-color: $bgClr200;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
    padding-block: 25px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
    justify-content: center;
  }
  &__item {
    flex-basis: 100%;
  }
}
@media (min-width: 480px) {
  .advantages {
    &__item {
      flex-basis: 40%;
    }
    &__icon {
      padding-block: 25px;
    }
    &__heading {
      text-align: start;
    }
  }
}
@media (min-width: 1200px) {
  .advantages {
    &__item {
      flex-basis: 20%;
    }
    &__icon {
      padding-block: 25px;
    }
  }
}
