.clients {
  &__heading {
    @include sectionHeading($fsSectionHeadingMobile);
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  &__icon {
    fill: $iconClr100;
    stroke: $iconClr200;
  }
  &__item {
    border: 1px solid $iconClr100;
    border-radius: 4px;

    display: flex;
    justify-content: center;

    padding-block: 16px;
    // padding-inline: calc((45% - 30px - 2 * 15px - 4 * 1px) / 4);
    // max-width: 100%;
    flex-basis: calc((100% - 30px) / 2);
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus,
    &:hover .clients__icon,
    &:focus .clients__icon {
      border-color: $brandColor;
      fill: $brandColor;
      cursor: pointer;
    }
  }
}

@media (min-width: 480px) {
  .clients__item {
    max-width: calc((100% - 2 * 30px) / 3);
  }
}
@media (min-width: 912px) {
  .clients__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}

@media (min-width: 1200px) {
  .clients {
    &__heading {
      @include sectionHeading($fsSectionHeading);
    }
    &__item {
      flex-basis: calc((100% - 5 * 30px) / 6);
    }
  }
}
