@mixin heroHeading($fs, $lineHeight) {
  // font-size: $fsPageHeading;
  font-size: $fs;
  font-weight: $fwSuperBold;
  color: $fontClr300;
  // line-height: 1.36;
  line-height: $lineHeight;
}

@mixin navigationFont() {
  font-weight: $fwSemiBold;
  font-size: $fsNavBar;
  line-height: 1.1428;
  letter-spacing: 0.02em;
}

@mixin sectionHeading($fs) {
  font-weight: $fwBold;
  font-size: $fs;
  line-height: 1.171;
  text-align: center;
  margin-bottom: 50px;
}

@mixin itemHeading($color) {
  font-size: $fsItemHeading;
  font-weight: $fwBold;
  line-height: 1.1428;
  text-transform: uppercase;

  color: $color;
}

@mixin transition($property) {
  transition: $property 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
